html{
  font-size: 16px;

  overflow-x: hidden;
}
/* 0 25px 20px -20px rgba(0, 0, 0, 0.3), 0 0 15px rgba(0, 0, 0, 0.06) */
body {
  margin: 0;
  padding: 0;

  font-size: 1rem;
  position: relative;

  /* overflow-x: hidden; */
}

body * {

	box-sizing: border-box;
  color: #404040;
}

p{
	margin: 0 !important;
}

.container-fluid{
  padding: 0px;
  margin: 0px;
}

.container{
  width: 100%;
  position: relative;
}



/* Header */

header{
  background-color: #0F426B;
  color: #ffffff;
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0px 8px 12px rgba(0,0,0,0.2);
}

.hdr-container{
  min-height: 4rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hdr-left, .hdr-center, .hdr-right{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.hdr-center .title{
  font-size: 2.25rem;
  line-height: normal;
}

.hdr-container .logo{
  height: 2rem;
  width: auto;
}

.hdr-container .logo.not-default{
  height: 3rem;
}

/* Main */

.hero-img-container{
  height: calc(100vh - 4rem);
  position: relative;
  display: flex;
  align-items: center;
  min-height: 40rem;
}



.landing-panel {
  z-index: 2;
  max-width: 48rem;
  margin: -8rem auto 0rem;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  padding: 8.5rem 2rem 1rem;
  position: relative;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.15);
  
  background-size: 10rem;
  background-repeat: no-repeat;
  background-position: center 1.5rem;
  transition: 0.4s all;
}

.form-control.access-pin {
  border: 1px solid rgba(0, 92, 170, 0.5);
  box-shadow: inset 0px 0px 1px #002F60;
}

.landing-panel .checkbox label {
  width: 100%;
  text-align: right;
  font-size: 0.8rem;
  cursor: pointer;
}

.form-signin{
  width: 80%;
  margin: 0 auto;
}

.landing-panel .checkbox label input {
  display: none;
}

.landing-panel .checkbox label img {
  margin-top: -2px;
}

/* Buttons */

/* .button-default{
  margin: .5rem auto 1rem;
  display: block;
  padding: .60em 2em;
  background-color: #C14B5F;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  border-radius: .25em;
  border: 1px solid transparent;
}

.button-outlined{
  background-color: #ffffff;
  border: 1px solid #C14B5F;
  color: #C14B5F;
}

.btn-disabled{
  background-color: #cccccc;
  color: #ffffff;
} */

/* .button-default:hover, .button-default:focus{
  color: #C14B5F;
  background-color: #ffffff;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.15), 0px 0px 10px rgba(0,0,0,.075);
  border: 1px solid #C14B5F;
} */

.button-outlined:hover, .button-outlined:focus{
  color: #ffffff;
  background-color: #C14B5F;
}

.btn-disabled:hover, .btn-disabled:focus{
  cursor: not-allowed;
  background-color: #cccccc;
  color: #ffffff;
  box-shadow: unset;
}

.menu-buttons-wrapper{
  background-color: rgba(255, 255, 255, 0.92);
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 5.5rem;
  z-index: 152;
  transition: opacity 0.3s;
}

.menu-buttons-list{
  max-width: 48rem;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.menu-buttons-list li{
  background-size: 5rem;
  background-repeat: no-repeat;
  background-position: center top;
  height: 6.5rem;
  width: 8rem;
  overflow: visible;
  margin-top: -2.5rem;
  word-break: keep-all;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  filter: drop-shadow(0px -3px 7px rgba(255,255,255,1));
}

li[data-target='#home']{
  background-image: url(assets/Back_To_Top.svg);
}

li[data-target='#about']{
  background-image: url(assets/About_button.svg);
}

li[data-target='#faqs']{
  background-image: url(assets/FAQ_button.svg);
}

li[data-target='#contact']{
  background-image: url(assets/Contact_button.svg);
}

li[data-target='#comment']{
  background-image: url(assets/Comment_button.svg);
}

li[data-target='#home']:hover, li[data-target='#home']:focus{
  background-image: url(assets/Back_To_Top_hvr.svg);
}

li[data-target='#about']:hover, li[data-target='#about']:focus{
  background-image: url(assets/About_button_hvr.svg);
}

li[data-target='#faqs']:hover,li[data-target='#faqs']:focus{
  background-image: url(assets/FAQ_button_hvr.svg);
}

li[data-target='#contact']:hover,li[data-target='#contact']:focus{
  background-image: url(assets/Contact_button_hvr.svg);
}

li[data-target='#comment']:hover,li[data-target='#comment']:focus{
  background-image: url(assets/Comment_button_hvr.svg);
}


/* About the Survey Container */

.abt-survey-container, .contact-info-container{
  width: 100%;
  height: 100vh;
  position: relative;
  min-height: 40rem;
  display: flex;
  align-items: center;
  background-image: url(assets/honeycomb.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #595959;
  box-shadow: inset 0px 5rem 5rem -4rem rgba(0,0,0,0.75), inset 0rem -5rem 5rem -4rem rgba(0,0,0,0.75);
}

.abt-img-container-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.abt-img-container-list li{
  padding: 1rem;
  background-color: #ffffff;
  width: 31.5%;
  position: relative;
  text-align: center;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
  min-width: 300px;
  margin: 1.5rem auto;
}

.abt-img-container-list li p{
  line-height: 1;
}

.abt-img-container-list li img{
  margin: 1rem 0rem;
  width: 100%;
  height: auto;
}

.abt-img-container-list li:last-child img{
  width: 65%;
}

.abt-img-container-list li span{
  background-image: url(assets/magnify_icon.svg);
  background-size: 2.75rem;
  background-repeat: no-repeat;
  background-position: center;
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  left: calc(50% - 1.25rem);
  bottom: -1.25rem;
  filter: drop-shadow(0px 2px 3px white);
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.abt-img-container-list li span:hover, .abt-img-container-list li span:focus{
  background-size: cover;
  background-image: url(assets/magnify_icon_hvr.svg);
}

/* FAQ Container */

/* .faq-container, .faq-list-wrapper{
  width: 100%;
  height: 100vh;
  position: relative;
  min-height: 40rem;
  background-color: #f2f2f2;
  overflow: hidden;
}

.faq-container.faq-container--expanded, .faq-container.faq-container--expanded .faq-list-wrapper{
  height: 100%;
}

.faq-list-wrapper{
  height: calc(100vh - 12rem);
  overflow-y: hidden;
  padding-bottom: 0rem!important;
  margin-bottom: 5rem;
  transition: height 0.4s;
} */

.overflow-shadow{
  z-index: 2;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 4rem;
  width: 100%;
  box-shadow: 0rem -2rem 2rem 1rem #f2f2f2;
  background-color: #f2f2f2;
  display: flex;
  align-items: flex-start;
  background-image: url(assets/ReadMore_chevron.svg);
  background-size: 2.75rem;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  cursor: pointer;
  transition: background-position 0.3s;
}

.faq-overlay-container .overflow-shadow{
  background-image: none;
  height: 3rem;
}

.overflow-shadow:hover, .overflow-shadow:focus{
  background-position: center 2rem;
}

/* .faq-list {
  margin-top: 1.5rem;
  background: #ffffff;
  width: 100%;
  padding: 0.5rem 3rem 0.5rem 5rem;
  border-radius: 3px;
  position: relative;
  min-height: 3rem;
  overflow: hidden;
}

.faq-list:last-child {
  margin-bottom: 3rem;
} */

/* .ques {
  font-size: 1.2rem;
  color: #0F426B;
  text-decoration: none;
  display: block;
} */

/* .ques:hover {
  color: #0F426B;
  text-decoration: none;
}

.ans {
  padding: 1rem 3rem .5rem 0;
  font-size: 1rem;
}

.caret-down {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  font-size: 1rem;
  transition: all 0.3s;
}

.iques {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 24rem;
  width: 3rem;
  background: #377F9A;
  color: white;
  font-weight: 600;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  transition: all 0.3s;
} */

/* Contact Info Container */

.contact-info-container{
  height: calc(100vh - 4rem);
  min-height: 50rem;
  overflow: auto;
}

.contact-info-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap
}
