.tealStripe {
  background:#00AAAA;
  height:4px;
  width:100%;
}

#wrapper {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;

}

.padding-0.new {
  padding-right: 0px;
  padding-left: 0;
}

.tealBox.first{
  border-right:1px solid white;
}

.tealBox.second{
  border-right:1px solid white;
}


.skipNav {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

a:hover {
  text-decoration: none;
}

.mobile {
  display:none;
}

.mobileOnly {
  display:none;
}

.padding-0{
  padding-right:0;
  padding-left:0;
}

/* .padding-0.new{
padding-right:2px;
padding-left:0;
} */

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size:35px;
  color:#004568;
  font-weight:400;
}

h2.smaller {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  color: #004568;
  font-weight: 600;
  margin-bottom:30px;
}


.landing {
  background:#f2f4f5;
  font-family: 'Montserrat', sans-serif;
  position:relative;
  z-index:9999;
}

.landing2 {
  background: #004568;
  font-family: 'Montserrat', sans-serif;
  position:relative;
  z-index:9999;
}

.title2 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color: #f2f4f5;
}

 .checkbox label {
    min-height: 20px;
    padding-left: 0px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}

h1 {
  font-size:48px !important;
  color:#CB4C45;
  font-weight:600;
  font-family: 'Montserrat', sans-serif;
}

h1.small {
  font-size:36px;
  color:#CB4C45;
  font-weight:400;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 2px solid #004568;
}

h1.smaller {
  font-size:32px;
  color:#CB4C45;
  font-weight:400;
  font-family: 'Montserrat', sans-serif;

}

.title {
  font-size:40px;
  font-family: 'Montserrat', sans-serif;
  color:#004568;
}

p, label {
  font-size:17px;
  font-family: 'Montserrat', sans-serif;
  font-weight:100;
  color: #404040;
}

p.small {
  font-size:20px;
  font-family: 'Montserrat', sans-serif;
  font-weight:100;
  color: #404040;
}


p.smaller {
  font-size:16px;
  font-family: 'Montserrat', sans-serif;
  font-weight:100;
  color:grey;
  color: #404040;
  padding-top:2em;
}


span.blue.card {
    color: #004568;
    font-weight: 600;
    font-size: 24px;
}

.hero-img-container {
  height: calc(100vh - 4rem);
  position: relative;
  display: flex;
  align-items: center;
  min-height: 40rem;
  padding-left: 1em;
  padding-right: 1em;

}

.hero-img-container2 {
  /* height: calc(100vh - 4rem); */
  position: relative;
  display: flex;
  align-items: center;
  min-height: 26rem;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom:4em;
}

.hero-img-container3 {
  /* height: calc(100vh - 4rem); */
  position: relative;
  display: flex;
  align-items: center;
  min-height: 26rem;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom:0em;
}

.hero-img-container4 {
  /* height: calc(100vh - 4rem); */
  position: relative;
  display: flex;
  align-items: center;
  min-height: 33rem;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom:0em;
  bottom: 0;
  top: 50px;
}

.hero-img {
  background-image: url(../images/landing-image.jpg);
  height: inherit;
  min-height: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  position: absolute;
  top: -25px;
  left: 0;
}

.hero-img2 {
  background-image: url(../images/cuffs.jpg);
  height: inherit;
  min-height: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0;
  height: 160px !important;
  /* padding-top: 303px; */
  margin-top: 4em;
  background-position: 0px 10%;
}


.hero-img3 {
  background-image: url(../images/magnify.jpg);
  height: inherit;
  min-height: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0;
  height: 160px !important;
  /* padding-top: 303px; */
  margin-top: 4em;
  background-position: 0px 35%;
}

.hero-img4 {
  background-image: url(../images/footer.jpg);
  height: inherit;
  min-height: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0;
  height: 160px !important;
  /* padding-top: 303px; */
  margin-top: 4em;
  background-position: 0px 35%;
}

.landing-panel {
  z-index: 2;
  /* max-width: 48rem; */
  margin: -12rem auto 0rem;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;

  position: relative;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.15);
  padding: 2em 2em;
  background-repeat: no-repeat;
  background-position: center 1.5rem;
  transition: 0.4s all;
}


.doj {
  position: absolute;
  z-index: 6;
  width: 100px;
  height: 100px;
  top:-50px;
  vertical-align: middle;
  filter: drop-shadow(0px -3px 7px rgba(255,255,255,1));

}

.form-control.access-pin {
  border: 1px solid #E2E2E2;

}

::placeholder {
  color:#404040 !important;
}

.form-control {
  display: block;
  width: 63%;
  height: calc(4rem + 2px);
  padding: 20px 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .5rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  text-align: center;
}

.form-control:focus {
  box-shadow: none;
}

.t-teal {
  color:#008488;
}

.panel {
  box-shadow:none;
}
.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: none !important;
    background: #eef2f4 !important;
}

.button-default {
  margin: .5rem auto 1rem;
  display: block;
  padding: .4em .7em;
  background-color: #DEDEDE;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: .25em;
  border: 2px solid transparent;
}

.tealBox {
  background: rgb(0,170,170);
  background: linear-gradient(180deg, rgba(0,170,170,1) 0%, rgba(0,132,136,1) 100%);
  height:auto;
  padding: 2.2em;
  color:white;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  height: 145px;
  margin-top: -170px;
}

.tealBox:hover, .tealBox:active, .tealBox:focus, .tealBox:visited {
  background-image: linear-gradient(to top, #404040, #505050, #606060, #727272, #838383);

  height:auto;
  padding: 2.2em;
  color:white;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  height: 145px;
  margin-top: -170px;
}

.tealBox:visited {
  background-image: linear-gradient(to top, #404040, #505050, #606060, #727272, #838383);

  height:auto;
  padding: 2.2em;
  color:white;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  height: 145px;
  margin-top: -170px;
}

.landing-panel .checkbox label {
    width: 100%;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
    font-weight: 600;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display:flex;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    max-width: 81%;
}

.center{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display:flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin:0;

}

.around{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display:flex;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;


}

.vertical {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display:flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.vertical2 {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display:flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

}

span.blue {
  color:#004568;
  font-weight:600;
  font-size:17px;
}


.blueLight {
  color:#004568;
  font-weight:100;
  font-size:24px;
}
.landing-panel .checkbox label input {
  display: none;
}
.mr-1, .mx-1 {
  margin-right: 4px!important;
  margin-top: 0px;
}

.about {
  max-height:36px
}

.p1 {
  padding: 1em 0em;
}

.p2 {
  padding: 1em 0em .5em 0em;
}

.strong {
  font-weight:bold;
  margin-bottom:15px;
}

.left {
  margin-left:1em;
}

.whiteStrong {
  color:white;
  font-weight:600;
  font-size:28px;
  font-family: 'Montserrat', sans-serif;
  text-align:center !important;
  margin-bottom:15px;
  margin-top:10px;
}

h1.whiteStrong {
  color:white;
  font-weight:600;
  font-size:36px !important;
  font-family: 'Montserrat', sans-serif;
  text-align:center !important;
  margin-bottom:15px;
  margin-top:10px;
}

.landing-panel.new {
  margin: 0;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 0px;
  -webkit-box-shadow: 12px 8px 42px -9px rgba(0,0,0,0.54);
  -moz-box-shadow: 12px 8px 42px -9px rgba(0,0,0,0.54);
  box-shadow: 12px 8px 42px -9px rgba(0,0,0,0.54);
  padding: 2em 4em 2em 4em;
  background-repeat: no-repeat;
  background-position: center 1.5rem;
  transition: 0.4s all;
  opacity:.75;
  max-height: 580px;
  min-height: 580px;
}

.landing-panel.new2 {
  margin: 0;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 0px;
  -webkit-box-shadow: 12px 8px 42px -9px rgba(0,0,0,0.54);
  -moz-box-shadow: 12px 8px 42px -9px rgba(0,0,0,0.54);
  box-shadow: 12px 8px 42px -9px rgba(0,0,0,0.54);
  padding: 24px 30px 24px ;
  background-repeat: no-repeat;
  background-position: center 1.5rem;
  transition: 0.4s all;
  opacity:.75;
  max-height: 425px;
  min-height: 425px;
}

a.whiteStrong {
  color:white !important;
  text-decoration: none !important;
  font-size:40px;
  margin-top:0px;
}

.landing-panel.small {
  margin: 0;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  -webkit-box-shadow: 12px 8px 42px -9px rgba(0,0,0,0.54);
  -moz-box-shadow: 12px 8px 42px -9px rgba(0,0,0,0.54);
  box-shadow: 12px 8px 42px -9px rgba(0,0,0,0.54);
  padding: 2em 2em 3em 2em;
  background-repeat: no-repeat;
  background-position: center 1.5rem;
  transition: 0.4s all;
  height:auto;
  width:auto;
}

.about1 {
  width: 85%;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10%;
  margin: auto;

}

.about2 {
  max-width: 470px;

  width: 80%;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 24%;
  margin: auto;

}

.whiteBar {
  display:none;
}

.lightGray {

  position: relative;
}

.w800 {
  max-width:1200px;
}

.pie {
  min-width:430px
}

.mr3 {
  margin-right:3em;
}

.right {
  float:right;
}

.print {
  max-width: 250px;
  position: absolute;
  left: 107px;
  top: -83px;
}

.print3 {
  max-width: 250px;
  position: absolute;
  left: 29%;

  top: 237px;
}

.print2 {
  max-width: 250px;
  position: absolute;
  right: -3%;
  top: 200px;
}

.mb5 {
  margin-bottom:5em;
}

.mb8 {
  margin-bottom:8em;
}

.mb4 {
  margin-bottom:4em;
}

.m2 {
  margin-top:2em;
  margin-bottom:2em;
}

.w800 {
  max-width:800px;
}

.w1200 {
  padding-left:1em;
  padding-right:1em;
  max-width:1200px;
}

ul.papaya {
  list-style: none; /* Remove default bullets */
  font-size:22px;
  color:#404040;
  font-weight:400;
  font-family: 'Montserrat', sans-serif;
}

ul.papaya li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #CB4C45; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.indent {
  margin-left:2em;
}

.grayBox {
  background:#F1F1F1;
  padding-left: 10em;
  padding-top: 3em;
  max-height: 425px;
  min-height: 425px;
  position: relative;
}

.grayBox2 {
  background:#F1F1F1;
  padding-left: 10em;
  padding-top: 3em;
  max-height: 580px;
  min-height: 580px;
  position: relative;
}

p.small2 {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  color: #404040;
}

.bold {
  font-weight:800 !important;
  margin-bottom: 10px !important;
}

.about5 {
  max-width: 440px;
  /* position: absolute; */
  /* left: 10%; */
  /* right: 16%; */
  width: 75%;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10%;
  margin: auto;
}

.about4 {

  max-width: 500px;

  width: 80%;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 12%;
  margin: auto;
}

.about3 {
  max-width: 450px;

  width: 80%;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 24%;
  margin: auto;
}

.button-default:focus {
  outline:none;
}

.wrapper{
  width:80%;
}
@media(max-width:992px){
  .wrapper{
    width:100%;
  }
}
.panel-heading {
  padding: 0;
  border:0;
}
.panel-title>a, .panel-title>a:active{
  display:block;
  padding:15px;
  color:#555;
  font-size:16px;
  font-weight:bold;
  text-transform:uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing:1px;
  word-spacing:3px;
  text-decoration:none;
}
.panel-heading  a:before {
  font-family: FontAwesome;
  content: "\f0d7";
  font-weight: 100;
  font-size: 39px;
  line-height: .6em;
  color:#00AAAA;
  float: right;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
.panel-heading.active a:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

.panel-title>a, .panel-title>a:active {
  display: block;
  padding: 22px;
  color: #004568;
  font-size: 26px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0px;
  word-spacing: 0px;
  text-decoration: none;
  background: #eef2f4 !important;
}
.panel-group .panel {
  margin-bottom: 25px;
  border-radius: 0px;
}

.panel-default {
  border-color: none !important;
  border: none !important;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 2px solid #eee;
  width: 100%;
}

.phone {
  max-width:22px;
  max-height:22px
}

.circle.activate {
  background: radial-gradient(circle, rgba(64,64,64,1) 0%, rgba(179,179,179,1) 0%, rgba(64,64,64,1) 100%);
}

.circle {
  position:relative;
  background: rgb(0,132,136);
  background: radial-gradient(circle, rgba(0,132,136,1) 0%, rgba(0,170,170,1) 0%, rgba(0,132,136,1) 100%);
  width:50px;
  height:50px;
  border-radius: 50%;
  margin-bottom:12px;
}

.circle.blue{
  position:relative;
  background: rgb(0,69,104);
  background: radial-gradient(circle, rgba(0,69,104,1) 0%, rgba(115,153,172,1) 0%, rgba(0,69,104,1) 100%);
  width:50px;
  height:50px;
  border-radius: 50%;
  margin-bottom:12px;
}
.circle:hover {
  background: rgb(64,64,64);
  background: radial-gradient(circle, rgba(64,64,64,1) 0%, rgba(179,179,179,1) 0%, rgba(64,64,64,1) 100%);
}



.scroll {
  position: absolute;
  height: 28px;
  width: 28px;
  left: 21%;
  top: 22%;
}

.aqua {
  color:#00AAAA;
  text-decoration:underline;
  font-size:24px;
  font-weight:400;
  font-family: 'Montserrat', sans-serif;
  letter-spacing:1px;
  margin-left:8px;
}

.westat-footer {
  background-color: #00467F;

  position: absolute;
  bottom: 0px;

  z-index: 3;

  right: 0;
  width: 100%;
  opacity: .89;
  padding-top: 1em;
  padding-bottom: 1em;
}

.bottom {
  position:relative;
}

.footer1 {
  max-height:80px;
  max-width:80px;
  margin-right:1em;
}

.footer2 {
  max-height:80px;
  max-width:150px;
}

.fadableElement {
   opacity: 1;
   transition: opacity 2s ease-in-out;
   -moz-transition: opacity 2s ease-in-out;
   -webkit-transition: opacity 2s ease-in-out;
   }
.transparent {
display:none;
}

#stickySide {
  position: fixed;
  top: 50%;
  right:1%;
  z-index:9;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.about2, .about3, .about4, .about5 {
  max-width: none;
  width: 65%;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.about1 {
  max-width: none;
  width: 85%;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}


.grayBox2 {
  background: #F1F1F1;
  padding-left: 0em;
  padding-top: 0em;
  max-height: 580px;
  min-height: 580px;
  position: relative;
  padding: 3em;
}
.grayBox {
  background: #F1F1F1;
  padding-left: 0em;
  padding-top: 0em;
  max-height: 425px;
  min-height: 425px;
  position: relative;
  /* padding: 6em; */
  padding: 30px;
}

@media (max-width: 1000px) and (min-width:992px) {
  .col-md-12.newBoot {
    width: 50% !important;
  }

}

@media (max-width:1632px) and (min-width:1300px) {
  .landing-panel.new {
    max-height: 680px;
    min-height: 680px;
  }

  /* .about1 {
    bottom: 24%;
  } */

  .grayBox2 {

    max-height: 680px;
    min-height: 680px;

  }
}


@media (max-width:1299px) and (min-width:1199px) {
  .landing-panel.new {
    max-height: 780px;
    min-height: 780px;
  }

  h1.whiteStrong {
    color: white;
    font-weight: 600;
    font-size: 31px !important;
    font-family: 'Montserrat', sans-serif;
    text-align: center !important;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  .about {
    font-size:34px !important;
  }

  /* .about1 {
    bottom: 35%;
  } */

  .grayBox2 {

    max-height: 780px;
    min-height: 780px;

  }
}


@media (max-width:1198px) and (min-width:1025px) {
  .landing-panel.new {
    max-height: 800px;
    min-height: 800px;
  }
  .grayBox2 {
    max-height: 800px;
    min-height: 800px;
    background: #F1F1F1;
    padding-left: 0em;
    padding-top: 0em;

    position: relative;
    padding-right: 0em;
    padding-bottom: 0em;
    padding:3em;
  }


  .about1, .about2, .about3, .about4, .about5 {
    top: 0;
    width: 96%;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  h1.whiteStrong {
    color: white;
    font-weight: 600;
    font-size: 31px !important;
    font-family: 'Montserrat', sans-serif;
    text-align: center !important;
    margin-bottom: 15px;
    margin-top: 10px;
  }

  .about {
    font-size:34px !important;
  }

  h2.smaller {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: #004568;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 0px;
  }
}

@media (max-width: 1024px) {

  .landing-panel {
    margin: -6rem auto 0rem;
    padding: 6.5rem 1.5rem .75rem;
    background-size: 8rem;
    background-position: center .75rem;
  }
  .landing-panel.small {
    margin-bottom:2em;
  }

}

@media (max-width:1024px) and (min-width:992px) {

  h1.whiteStrong {
    color: white;
    font-weight: 600;
    font-size: 27px !important;
    font-family: 'Montserrat', sans-serif;
    text-align: center !important;
    margin-bottom: 15px;
    margin-top: 10px;
  }

  .about {
    font-size:30px !important;
  }
  .print, .print2, .print3 {
    max-width: 175px;
  }
  .tealBox {
    background: rgb(0,170,170);
    background: linear-gradient(180deg, rgba(0,170,170,1) 0%, rgba(0,132,136,1) 100%);
    height: 120px !important;
    padding: 2em 0em;
    color: white;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    margin-bottom: 0em;
    margin-top: -120px;
  }

  .tealBox:hover {

    height: 120px;
    padding: 2em 0em;

    margin-bottom: 0em;
    margin-top: -120px;
  }

  .title {
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    color: #004568;
    padding-left: 1em;
    padding-right: 1em;
  }

  h2.smaller {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: #004568;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 0px;
  }

  .landing-panel.new {
    max-height: 900px;
    min-height: 900px;

  }

  .grayBox2 {
    max-height: 900px;
    min-height: 900px;
    padding:0em;
  }

  .about1, .about2, .about3, .about4, .about5 {
    top: 0;
    width: 96%;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  .p7 {
    padding-left:7em;
    padding-right:7em;
  }

  .landing-panel.new2 {
    padding: 1em 1.5em 3em 1.5em;

  }

  .grayBox {
    max-height: 500px;
    min-height: 500px;

  }

  .landing-panel.new2 {

    max-height: 500px;
    min-height: 500px;
  }


}


@media (max-width:991px) and (min-width:768px) {

  .tealBox.first{
    border-right:1px solid white;
  }

  .tealBox.second{
    border-right:1px solid white;
  }

  .padding-0.new {
    padding-right: 0px;
    padding-left: 0px;
  }

  .title {
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    color: #004568;
    padding-left: 1em;
    padding-right: 1em;
  }
  .landing-panel.new2 {
    max-height: none;
    min-height: auto;
    height:auto;
    margin-right:1.2em;
    margin-left:1.2em;
    min-height:400px;
  }

  .grayBox2 {
    max-height: none;
    min-height: auto;
    height:auto;
    margin-right:1.2em;
    margin-left:1.2em;
  }

  .landing-panel.new {
    max-height: none;
    min-height: auto;
    height:auto;
    margin-right:1.2em;
    margin-left:1.2em;
  }

  .about {
    max-height: 30px;
  }
  h1.whiteStrong {
    color: white;
    font-weight: 600;
    font-size: 20px !important;
    font-family: 'Montserrat', sans-serif;
    text-align: center !important;
    margin-bottom: 15px;
    margin-top: 10px;
  }

  .print {
    max-width: 100px;
    position: absolute;
    left: 3%;
    top: -25px;
  }

  .tealBox {
    height: 150px;
    margin-top:-150px;
  }

  .p7 {
    padding:3em;
  }

  h1 {
    font-size:37px !important;
  }
  .m2 {
    margin-top: 2em;
    margin-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .tealBox:hover {
    height: 150px;
    margin-top:-150px;
  }

  .grayBox2 {
    max-height: none;
    min-height: auto;
    height:auto;
    margin-right:1.2em;
    margin-left:1.2em;
  }
  .about1, .about2, .about3, .about4, .about5 {
    max-width:none;
    width: 100%;
    display: block;
    position: unset;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
    margin: auto;
  }
  .grayBox2 {
    background: #F1F1F1;
    padding-left: 3em;
    padding-top: 3em;

    position: relative;
    padding-right: 3em;
    padding-bottom: 3em;
  }

  .grayBox {
    opacity: .8;
    max-height: none;
    min-height: auto;
    height:auto;
    margin-right:1.2em;
    margin-left:1.2em;
    padding-left: 0em;
    padding-top: 0em;

    position: relative;
    padding: 3em;
  }

  .reverse {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display:flex;
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }

  .non-reverse {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display:flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }

  .print2 {
    max-width: 140px;
    position: absolute;
    right: 2%;
    top: auto;
    bottom: -540px;
    z-index: -1;
  }
  .print3 {
    max-width: 140px;
    position: absolute;
    left: 2%;
    top: 705px;
    transform: rotateY(180deg);
    /* bottom: -500px; */
  }
  .hero-img-container4 {
    /* height: calc(100vh - 4rem); */
    position: relative;
    display: flex;
    align-items: center;
    min-height: 17rem;
    padding-left: 0em;
    padding-right: 0em;
    margin-bottom: 0em;
    bottom: 0;
    top: 0px;
  }

  .hero-img4 {
    margin-top: 2em;
    height: 120px !important;
  }

  .hero-img2{

    width: 100%;
    position: absolute;
    top: 0%;
    left: 0;
    height: 120px !important;

    margin-top: 0em;
    background-position: 0px 10%;
    margin-bottom: 0em;
  }
  .hero-img3 {
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0;
    height: 120px !important;
    margin-top: 0em;
    background-position: 0px 35%;
    margin-bottom: 0em;
  }

  .hero-img-container2 {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 0em;
    margin-bottom: 10em;
    min-height: 1rem;
    margin-top: 0em;
  }
  .hero-img-container3 {

    position: relative;
    display: flex;
    align-items: center;

    padding-right: 0em;

    min-height: 1rem;
    margin-top: 2em;
    margin-bottom: 2em;

  }

  .w800 {
    max-width: 800px;
    padding-right:1em;
    padding-left:1em;

  }
  .wrapper {
    width: 96%;
  }


}

@media (max-width:767px) {


  .landing-panel.new {
    max-height: none;
    min-height: auto;
    height:auto;
  }
  .landing-panel.new2 {
    max-height: none;
    min-height: auto;
    height:auto;
  }
  .grayBox2 {
    max-height: none;
    min-height: auto;
    height:auto;
    margin-right:1.2em;
    margin-left:1.2em;
  }
  .about1 {
    width: 100%;
    display: block;
    position: unset;
    left: 0;
    right: 0;
    bottom: 10%;
    margin: auto;
  }
  .grayBox2 {
    background: #F1F1F1;
    padding:3em;
    margin-right:1.2em;
    margin-left:1.2em;
    position: relative;

  }

  .title {
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
    color: #004568;
    padding: 1em 0em;
  }
  .landing-panel {
    margin: 8rem auto 0rem;
    padding: 6.5rem 1.5rem .75rem;
    background-size: 8rem;
    background-position: center .75rem;
  }
  p.smaller {
    font-size: 14px;

  }

  p, label {
    font-size: 14px;
  }
  span.blue {
    color: #004568;
    font-weight: 600;
    font-size: 14px;
  }
  .button-default {
    margin: 2rem auto 1rem;
    font-size: 14px;

  }

  .landing-panel.new2 {
    margin: 0em;
    padding: 2em 2em 2em 2em;
    transition: 0.4s all;
    opacity: .85;
    margin-left: 1.2em;
    margin-right: 1.2em;
  }

  .tealBox {

    margin-top: 0px;
    padding:15px 10px 0px 6px;
    height:70px;
  }

  .tealBox:hover {
    padding:15px 10px 0px 6px;
    height:70px;
    margin-top: 0px;
  }

  .tealBox:active {
    padding:15px 10px 0px 6px;
    height:70px;
    margin-top: 0px;
  }

  .about {
    max-height: 20px;
  }

  .checkbox {
    display:none;
  }

  .padding-0.new {
    padding-right: 0px;
    padding-left: 0px;
  }
  h1.whiteStrong {
    color: white;
    font-weight: 600;
    font-size: 11px !important;
    font-family: 'Montserrat', sans-serif;
    text-align: center !important;
    margin-bottom: 0px;
    margin-top: 10px;
  }

  .vertical.mobile {
    padding-left:10px;
  }

  h1 {
    font-size: 24px !important;
    color: #CB4C45;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
  }
  .print {
    max-width: 100px;
    position: absolute;
    left: 3%;
    top: -25px;
  }
  h2.smaller {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #004568;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .landing-panel.new {
    margin: 0em;
    padding: 2em 2em 2em 2em;
    transition: 0.4s all;
    opacity: .85;
    margin-left: 1.2em;
    margin-right: 1.2em;
  }

  .landing-panel.new.reveal-closed {
    overflow: hidden;
    height: 400px;
  }

  .landing-panel.new.reveal-open {
    overflow: auto;
    height: auto;
  }

  .mobileOnly {
    display:block;
    position:absolute;
    z-index:100;
    right: 25%;
      bottom: 81px;
  }
  #accessCode1 {
    position:relative;
  }
  p.small2 {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: #404040;
  }

  .mobile {
    display:block;
  }
  .whiteBar {
    display:block;
    position: absolute;
    z-index: 9999;
    /* top: 0; */
    height: auto;
    background: white;
    bottom: 0;
    width: 100%;
    left: 0;

    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5480567226890756) 0%, rgba(255,255,255,1) 100%);


  }

  p.small {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: #404040;
  }
  .right {
    float: left;

  }

  .small2.last {
    padding-bottom:1em;
  }

  .rotate{
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .fa.fa-angle-down {
    color: #008488;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .reverse {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display:flex;
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }

  .non-reverse {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display:flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }

  .landing-panel.new2 {
    margin: 0em;
    padding: 2em 2em 2em 2em;
    transition: 0.4s all;
    opacity: .85;
    margin-left: 1.2em;
    margin-right: 1.2em;
  }

  .mb8 {
    margin-bottom: 4em;
  }

  ul.papaya {
    list-style: none;
    font-size: 16px;
  }

  .grayBox {
    background: #F1F1F1;
    padding-left: 0em;
    padding-top: 0em;
    /* max-height: 425px; */
    /* min-height: 425px; */
    position: relative;
    max-height: none;
    min-height: auto;
    height: auto;
    padding: 2em;
    opacity:.88
  }
  .about2, .about4, .about3, .about5 {
    max-width: none;
    width: 100%;
    display: block;
    position: unset;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .print2 {
    max-width: 100px;
    position: absolute;
    right: 2%;
    top: auto;
    bottom: -383px;
  }
  .print3 {
    max-width: 100px;
    position: absolute;
    left: 2%;
    top: 500px;
    transform: rotateY(180deg);
  }


  .stickBottomMobile {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right:0px;
    width: auto;
    z-index: 152;

  }

  .hero-img2{

    width: 100%;
    position: absolute;
    top: 0%;
    left: 0;
    height: 70px !important;

    margin-top: 0em;
    background-position: 0px 10%;
    margin-bottom: 0em;
  }
  .hero-img3 {
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0;
    height: 70px !important;
    margin-top: 0em;
    background-position: 0px 35%;
    margin-bottom: 0em;
  }

  .hero-img-container2{

    position: relative;
    display: flex;
    align-items: center;

    padding-right: 0em;
    margin-bottom: 5em;
    min-height: 1rem;
    margin-top: 4em;
  }

  .hero-img-container3 {

    position: relative;
    display: flex;
    align-items: center;

    padding-right: 0em;

    min-height: 1rem;
    margin-top: 2em;
    margin-bottom: 2em;

  }

  .wrapper {
    width: 96%;
  }

  .panel-title>a, .panel-title>a:active {
    display: block;
    padding: 22px 15px;
    color: #004568;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 0px;
    word-spacing: 0px;
    text-decoration: none;
    background: #eef2f4 !important;
    max-height: 60px;
    min-height: 60px;
  }

  .tealBox.first{
    border-right:1px solid white;
  }

  .tealBox.second{
    border-right:1px solid white;
  }

  .panel-heading a:before {
    font-family: FontAwesome;
    content: "\f0d7";
    font-weight: 100;
    font-size: 25px;
    line-height: .8em;
    color: #00AAAA;
    float: right;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;

  }
  .w800 {
    max-width: 800px;
    padding: 0em 1em;
  }
  .mb4 {
    margin-bottom: 2em;
  }

  .landing-panel.small {

    padding: 1em 2em 2em 2em;

  }
  .blueLight {
    color: #004568;
    font-weight: 100;
    font-size: 18px;
  }

  span.blue.card {
    color: #004568;
    font-weight: 600;
    font-size: 18px;
  }

  .circle {
    display:none;
  }

  .circle.blue {
    display:block;
  }

  #stickySide {
    position: fixed;
    top: auto;
    right: 1%;
    z-index: 9;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    bottom: 75px;
  }

  .hero-img-container4 {
    /* height: calc(100vh - 4rem); */
    position: relative;
    display: flex;
    align-items: center;
    min-height: 17rem;
    padding-left: 0em;
    padding-right: 0em;
    margin-bottom: 0em;
    bottom: 0;
    top: 0px;
  }

  .hero-img4 {
    margin-top: 2em;
  }
  .footer {
    max-height: 40px;
  }

  .aqua {
    color: #00AAAA;
    text-decoration: underline;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    margin-left: 8px;
  }


}
