#main-wrapper {
  background: #b3c9d1;
  overflow:auto;
  /* width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 0px; */

}
.comment-container textarea {
    border: 1px solid lightgray;
    box-shadow: inset 0px 0px 1px #002F60;
    width: 98%;
    min-height: 24vh;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    padding: 1rem;
    margin-left: 1%;
    margin-right: 1%;
}

.fa.fa-angle-right {
    font-size: 21px;
    margin-left: 5px;
    font-weight: 600;
    color: white;
}

.button-default.second {
  background-image: linear-gradient(to top, #404040, #505050, #606060, #727272, #838383);
}

.button-default.second.clicked {

}

.closeModal {
    position: absolute;
    top: 0;
    right: -4px;
    width: 50px;
    /* height: 0px; */
    background: none;
    cursor: pointer;
    border: 0;
    padding: 7px;
}

.fas.fa-times {
  font-size: 30px;
  color: #404040;

}

h1.modalHeader {
    color: #404040;
    font-size: 30px;
    font-weight: 500;
    font-size: 30px !important;
    padding: 10px;
    margin-top: 0px;
    margin-bottom:10px;
}

.modal2 {
  /* position: fixed;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  height: 30%;
  width: 50%; */
  background-color: #f2f2f2;
  -webkit-box-shadow: 0px 0px 22px -6px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 22px -6px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 22px -6px rgba(0,0,0,0.4);
  z-index: 99999999;
  display:none;
  position: fixed;
  width: 80%;
  border-radius:5px;
      height: 40%;
      top: 50%;
      left: 50%;
      margin-top: -20%;
      margin-left: -40%;
}

.mask {
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.64);
    display:none;
    z-index: 9999999;
}


body {
  overflow:hidden;
}

#slideOut {
  position: fixed;
  top: 13%;
  right: -100rem;
  z-index: 102;

  width: 1000px;

  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  z-index:9999;
}
.modal-content {
  position: relative;
  background: #F1F1F1;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: none;
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .6);
  box-shadow: none;
  z-index: 999999;
  padding-bottom: 10em;
  max-height: 648px;
}

.modal-header {
  padding: 15px;
  border-bottom: none;
}

ol, li {
  font-family: 'Montserrat', sans-serif;
  font-size:17px;
}

li {
  margin-top:5px;
  margin-bottom:5px;
}

ol {
  margin-left:-1em;
}

ul.papaya {
  list-style: none;
  font-size: 17px;
  color: #404040;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: none !important;
  background: white !important;
}

.unset {
  position:unset;
  right:0%;
}

.flexing-scroll {
  position:absolute;
  right:-150%;
}

.tabOpen {
  background:#F1F1F1;
  color:#008488;
  z-index:9999999999;
}



.showSlideOut {
  right: 0px !important;

}

.panel-title>a, .panel-title>a:active {
  display: block;
  padding: 10px;
  color: #004568;
  font-size: 19px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0px;
  word-spacing: 0px;
  text-decoration: none;
  background: white;
  /* min-width: 900px; */
  background: white !important;
}
.panel-title>a, .panel-title>a:active {
  display: block;
  padding: 10px;
  color: #008488;
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0px;
  word-spacing: 0px;
  text-decoration: none;
  background: white !important;
  /* min-width: 900px; */
}
.wrapper {
  width: 96%;
}
.panel-heading a:before {
  font-family: FontAwesome;
  content: "\f0d7";
  font-weight: 100;
  font-size: 28px;
  line-height: .8em;
  color: #00AAAA;
  float: right;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
p.small {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  color: #404040;
}

#bigWrapper {
  max-width:1000px;
}

.slideOutTab {
  margin-top: 20px;
  position: absolute;
  left: -40px;
  /* height: 400px;
  width: 40px; */
  /* -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5); */
  /* background: #008488; */

}

.bottomShadow {
  -webkit-box-shadow: -21px 13px 19px 7px rgba(0,0,0,0.58);
  -moz-box-shadow: -21px 13px 19px 7px rgba(0,0,0,0.58);
  box-shadow: -21px 13px 19px 7px rgba(0,0,0,0.58);

  -webkit-box-shadow: -26px 0px 14px 2px rgba(0,0,0,0.27);
  -moz-box-shadow: -26px 0px 14px 2px rgba(0,0,0,0.27);
  box-shadow: -26px 0px 14px 2px rgba(0,0,0,0.27);
}

.bottomShadowDarker {
  -webkit-box-shadow: -6px 0px 5px 0px rgba(0,0,0,0.58);
  -moz-box-shadow: -6px 0px 5px 0px rgba(0,0,0,0.58);
  box-shadow: -6px 0px 5px 0px rgba(0,0,0,0.58);
}

.topShadow {
  -webkit-box-shadow: 14px 0px 20px -5px rgba(0,0,0,0.7);
  -moz-box-shadow: 14px 0px 20px -5px rgba(0,0,0,0.7);
  box-shadow: 14px 0px 20px -5px rgba(0,0,0,0.7);
}

#one {
  text-align: center;
  position: relative;
  right: 7px;
  top: 90px;
  /* background: rgb(0,170,170);
  background: linear-gradient(180deg, rgba(0,170,170,1) 0%, rgba(0,132,136,1) 100%);
  width: 180px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  writing-mode: lr-tb;
  padding-top:7px;
  padding-bottom:4px;
  border-radius:5px; */
  z-index:99999;
}

.faqTab {
  width: 50px;
  /* filter: drop-shadow(0 0 0.08rem black); */

  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.contactTab {
  width: 50px;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  /* filter: drop-shadow(0 0 0.08rem black); */
}

.lightBlue {

-webkit-box-shadow: 0px 4px 6px -2px rgba(171,194,205,1);
-moz-box-shadow: 0px 4px 6px -2px rgba(171,194,205,1);
box-shadow: 0px 4px 6px -2px rgba(171,194,205,1);
}

.gradientTeal {
  background: rgb(0,170,170);
  background: linear-gradient(180deg, rgba(0,170,170,1) 0%, rgba(0,132,136,1) 100%);
}

.gray {
  background:#F1F1F1
}

#two {
  text-align: center;
  position: relative;
  right: 5px;
  top: 85px;
  z-index: 99;
  /* border-radius:5px;
  background: rgb(0,170,170);
  background: linear-gradient(180deg, rgba(0,170,170,1) 0%, rgba(0,132,136,1) 100%);
  width: 180px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  writing-mode: lr-tb;
  padding-top:7px;
  padding-bottom:4px; */
  z-index:99;
}

.vertical3 {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #00467F;
  opacity: .85;
  height: 100%;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* footer {
    position: relative;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: auto;
}
.footer-wrapper {
    width: 100%;
    height: inherit;
    margin: 0 auto;
      background-image: url(../images/new-footer.png);
    padding: 0.75rem 2rem;
} */


section:nth-child(2) {
  background: #7876A0;
}

section {
  height: 100%;
  width: 100%;
}

.modal-body {
  height: auto;
  padding: 0em 2em;
}
section {
  display: table;
  width: 100%;
  height: 100%;
}
.intro {
  display: table-cell;
  vertical-align: middle;

}

.verticalNew {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    opacity: .85;
    height: 100%;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}


.title2 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color: #f2f4f5;
    padding: 5px;
}

h2.smaller {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #004568;
    font-weight: 600;
    margin-bottom: 30px;
}

p.white {
  color:white;
}

.cent {
  position: fixed;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  height: 70%;
  width: 70%;
  -webkit-box-shadow: 0px 0px 22px -6px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 22px -6px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 22px -6px rgba(0,0,0,0.4);



}


/* Footer */
footer{
  background: url(../images/new-footer.png);
  position: relative;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: auto;
}

.footer-wrapper{
  width: 100%;
  height: inherit;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.1rem 2rem;
}


.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: none;
}
.westat-footer2 {
  background-color: #00467F;
  position: absolute;
  bottom: 0px;
  z-index: 8;
  right: 0;
  width: 100%;
  opacity: .96;


}

.fa.fa-envelope-o {
  margin-left:5px
}

h1#smaller {
  font-size: 26px !important;
  color: #CB4C45;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  margin-bottom:0px
}


.circCont {
  display: inline-block;
}

.circleClose {
  width: 40px;
  height: 40px;
  background: transparent;
  border: 3px solid #008488;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin: 10px 20px;
}
.circleClose:after {
  width: 24px;
  height: 3px;
  background-color: #008488;
  content: "";
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -2px;
  position: absolute;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  /*@include transform-origin(100%,100%);*/
}
.circleClose:before {
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -2px;
  width: 24px;
  height: 3px;
  background-color: #008488;
  content: "";
  position: absolute;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  /*@include transform-origin(0%,0%);*/
}
.circleClose + p {
  text-transform: lowercase;
  font-size: 14px;
  margin-bottom: 10px;
}

.simpleRotate {
  -moz-animation: rotate 0.1s 2 ease-in-out alternate;
  -webkit-animation: rotate 0.1s 2 ease-in-out alternate;
  animation: rotate 0.1s 2 ease-in-out alternate;
}

@-moz-keyframes rotate {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -moz-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@keyframes rotate {
  0% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
.circleClose[data-animation="simpleRotate"]:not(.simpleRotate) {
  -moz-transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
  -o-transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
  -webkit-transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
  transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
}
.circleClose[data-animation="simpleRotate"]:not(.simpleRotate):hover {
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.circleClose[data-animation="rotateY"] {
  -moz-transition: ease-in-out 300ms;
  -o-transition: ease-in-out 300ms;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
}
.circleClose[data-animation="rotateY"]:after {
  -moz-transition-delay: 150ms;
  -o-transition-delay: 150ms;
  -webkit-transition-delay: 150ms;
  transition-delay: 150ms;
}
.circleClose[data-animation="rotateY"]:before {
  -moz-transition-delay: 150ms;
  -o-transition-delay: 150ms;
  -webkit-transition-delay: 150ms;
  transition-delay: 150ms;
}

.circleClose[data-animation="rotateX"] {
  -moz-transition: ease-in-out 300ms;
  -o-transition: ease-in-out 300ms;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
}
.circleClose[data-animation="rotateX"]:after {
  -moz-transition-delay: 150ms;
  -o-transition-delay: 150ms;
  -webkit-transition-delay: 150ms;
  transition-delay: 150ms;
}
.circleClose[data-animation="rotateX"]:before {
  -moz-transition-delay: 150ms;
  -o-transition-delay: 150ms;
  -webkit-transition-delay: 150ms;
  transition-delay: 150ms;
}

.rotateY {
  -moz-transform: rotateY(180deg) scale(0.5);
  -ms-transform: rotateY(180deg) scale(0.5);
  -webkit-transform: rotateY(180deg) scale(0.5);
  transform: rotateY(180deg) scale(0.5);
}
.rotateY:after {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.rotateY:before {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotateX {
  -moz-transform: rotateX(180deg) scale(0.5);
  -ms-transform: rotateX(180deg) scale(0.5);
  -webkit-transform: rotateX(180deg) scale(0.5);
  transform: rotateX(180deg) scale(0.5);
}
.rotateX:after {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.rotateX:before {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.scaleUp:not(.scaleDown):not(.minimize) {
  -moz-transition: cubic-bezier(0.175, 0.885, 0.52, 1.575) 200ms;
  -o-transition: cubic-bezier(0.175, 0.885, 0.52, 1.575) 200ms;
  -webkit-transition: cubic-bezier(0.175, 0.885, 0.52, 1.575) 200ms;
  transition: cubic-bezier(0.175, 0.885, 0.52, 1.575) 200ms;
}
.scaleUp:not(.scaleDown):not(.minimize):hover {
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.scaleUp:not(.scaleDown):not(.minimize):hover:after {
  -moz-transform: scale(1.1) rotate(45deg);
  -ms-transform: scale(1.1) rotate(45deg);
  -webkit-transform: scale(1.1) rotate(45deg);
  transform: scale(1.1) rotate(45deg);
}
.scaleUp:not(.scaleDown):not(.minimize):hover:before {
  -moz-transform: scale(1.1) rotate(-45deg);
  -ms-transform: scale(1.1) rotate(-45deg);
  -webkit-transform: scale(1.1) rotate(-45deg);
  transform: scale(1.1) rotate(-45deg);
}

.scaleDown {
  -moz-transition: ease-in-out 300ms;
  -o-transition: ease-in-out 300ms;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

.minimize {
  -moz-transition: ease-in-out 300ms;
  -o-transition: ease-in-out 300ms;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
  -moz-transform: scale(0.3);
  -ms-transform: scale(0.3);
  -webkit-transform: scale(0.3);
  transform: scale(0.3);
}

.boxShadow {
  -moz-transition: box-shadow 200ms ease-out, -moz-transform 200ms ease-out, opacity 200ms ease-in-out;
  -o-transition: box-shadow 200ms ease-out, -o-transform 200ms ease-out, opacity 200ms ease-in-out;
  -webkit-transition: box-shadow 200ms ease-out, -webkit-transform 200ms ease-out, opacity 200ms ease-in-out;
  transition: box-shadow 200ms ease-out, transform 200ms ease-out, opacity 200ms ease-in-out;
}
.boxShadow:after, .boxShadow:before {
  -moz-transition: linear 400ms;
  -o-transition: linear 400ms;
  -webkit-transition: linear 400ms;
  transition: linear 400ms;
}

.boxShadow:hover:not(.fadeOut) {
  -moz-box-shadow: 0px 0px 0px 20px #E91E63 inset;
  -webkit-box-shadow: 0px 0px 0px 20px #E91E63 inset;
  box-shadow: 0px 0px 0px 20px #E91E63 inset;
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
.boxShadow:hover:not(.fadeOut):after {
  background-color: #fff;
  -moz-transform: rotate(-45deg) scale(0.6);
  -ms-transform: rotate(-45deg) scale(0.6);
  -webkit-transform: rotate(-45deg) scale(0.6);
  transform: rotate(-45deg) scale(0.6);
}
.boxShadow:hover:not(.fadeOut):before {
  background-color: #fff;
  -moz-transform: rotate(45deg) scale(0.6);
  -ms-transform: rotate(45deg) scale(0.6);
  -webkit-transform: rotate(45deg) scale(0.6);
  transform: rotate(45deg) scale(0.6);
}

.fadeOut {
  opacity: 0;
}

.circleClose[data-animation="magnify"]:not(.magnify) {
  -moz-transition: ease-in-out 100ms;
  -o-transition: ease-in-out 100ms;
  -webkit-transition: ease-in-out 100ms;
  transition: ease-in-out 100ms;
}
.circleClose[data-animation="magnify"]:not(.magnify):hover {
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.circleClose.magnify {
  -moz-transition: ease-in-out 200ms;
  -o-transition: ease-in-out 200ms;
  -webkit-transition: ease-in-out 200ms;
  transition: ease-in-out 200ms;
  -moz-transform: scale(1.6);
  -ms-transform: scale(1.6);
  -webkit-transform: scale(1.6);
  transform: scale(1.6);
  opacity: 0;
}

.fromMiddle:before, .fromMiddle:after {
  z-index: 9999;
  -moz-transition-delay: 150ms;
  -o-transition-delay: 150ms;
  -webkit-transition-delay: 150ms;
  transition-delay: 150ms;
  -moz-transition: ease-in-out 400ms;
  -o-transition: ease-in-out 400ms;
  -webkit-transition: ease-in-out 400ms;
  transition: ease-in-out 400ms;
}
.fromMiddle span {
  width: 38px;
  height: 38px;
  background-color: #008488;
  display: inline-block;
  position: absolute;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  left: -2px;
  top: -2px;
  z-index: -9999;
  -moz-transform: scale(0.3);
  -ms-transform: scale(0.3);
  -webkit-transform: scale(0.3);
  transform: scale(0.3);
  opacity: 0;
  -moz-transition: ease-in-out 300ms;
  -o-transition: ease-in-out 300ms;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
}

.fromMiddle:hover:before, .fromMiddle:hover:after {
  position: absolute;
  background-color: #fff;
}
.fromMiddle:hover span {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.circleClose[data-animation="downBorder"] {
  -moz-transition: ease-out 200ms;
  -o-transition: ease-out 200ms;
  -webkit-transition: ease-out 200ms;
  transition: ease-out 200ms;
}
.circleClose[data-animation="downBorder"]:hover:not(.downBorder) {
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}

.downBorder {
  border: 4px solid transparent;
  -moz-transform: scale(0.3) rotate(45deg);
  -ms-transform: scale(0.3) rotate(45deg);
  -webkit-transform: scale(0.3) rotate(45deg);
  transform: scale(0.3) rotate(45deg);
}

.circleClose[data-animation="radiusPlus"] {
  -moz-transition: ease-out 300ms;
  -o-transition: ease-out 300ms;
  -webkit-transition: ease-out 300ms;
  transition: ease-out 300ms;
}
.circleClose[data-animation="radiusPlus"]:before, .circleClose[data-animation="radiusPlus"]:after {
  -moz-transition: ease-out 300ms;
  -o-transition: ease-out 300ms;
  -webkit-transition: ease-out 300ms;
  transition: ease-out 300ms;
}

.radiusPlus {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
}
.radiusPlus:before {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.radiusPlus:after {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.circleClose[data-animation="shrinkRadius"] {
  -moz-transition: ease-in-out 400ms;
  -o-transition: ease-in-out 400ms;
  -webkit-transition: ease-in-out 400ms;
  transition: ease-in-out 400ms;
}
.circleClose[data-animation="shrinkRadius"]:after, .circleClose[data-animation="shrinkRadius"]:before {
  -moz-transition: ease-in-out 400ms;
  -o-transition: ease-in-out 400ms;
  -webkit-transition: ease-in-out 400ms;
  transition: ease-in-out 400ms;
}

.circleClose.shrinkRadius {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-transform: scale(0.3);
  -ms-transform: scale(0.3);
  -webkit-transform: scale(0.3);
  transform: scale(0.3);
}
.circleClose.shrinkRadius:before {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.circleClose.shrinkRadius:after {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.circleClose[data-animation="xMarks"] {
  border: 0px solid white;
  overflow: hidden;
  -moz-box-shadow: 0px 0px 0px 0px #E91E63 inset;
  -webkit-box-shadow: 0px 0px 0px 0px #E91E63 inset;
  box-shadow: 0px 0px 0px 0px #E91E63 inset;
  -moz-transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
  -o-transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
  -webkit-transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
  transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
}
.circleClose[data-animation="xMarks"]:before, .circleClose[data-animation="xMarks"]:after {
  -moz-transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
  -o-transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
  -webkit-transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
  transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
}
.circleClose[data-animation="xMarks"]:not(.xMarks):hover {
  -moz-box-shadow: 0px 0px 0px 6px #E91E63 inset;
  -webkit-box-shadow: 0px 0px 0px 6px #E91E63 inset;
  box-shadow: 0px 0px 0px 6px #E91E63 inset;
}
.circleClose[data-animation="xMarks"]:not(.xMarks):hover:before {
  -moz-transform: scale(0.7) rotate(45deg);
  -ms-transform: scale(0.7) rotate(45deg);
  -webkit-transform: scale(0.7) rotate(45deg);
  transform: scale(0.7) rotate(45deg);
  -moz-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
}
.circleClose[data-animation="xMarks"]:not(.xMarks):hover:after {
  -moz-transform: scale(0.7) rotate(-45deg);
  -ms-transform: scale(0.7) rotate(-45deg);
  -webkit-transform: scale(0.7) rotate(-45deg);
  transform: scale(0.7) rotate(-45deg);
  -moz-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
}

.circleClose.xMarks {
  -moz-transition: -moz-transform 400ms ease-out, opacity 200ms ease-in;
  -o-transition: -o-transform 400ms ease-out, opacity 200ms ease-in;
  -webkit-transition: -webkit-transform 400ms ease-out, opacity 200ms ease-in;
  transition: transform 400ms ease-out, opacity 200ms ease-in;
  -moz-transition-delay: opacity 100ms;
  -o-transition-delay: opacity 100ms;
  -webkit-transition-delay: opacity 100ms;
  transition-delay: opacity 100ms;
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  transform: scale(2);
  opacity: 0;
  -moz-box-shadow: 0px 0px 0px 20px #E91E63 inset;
  -webkit-box-shadow: 0px 0px 0px 20px #E91E63 inset;
  box-shadow: 0px 0px 0px 20px #E91E63 inset;
}
.circleClose.xMarks:before {
  background-color: white;
  -moz-transform: scale(2) rotate(45deg);
  -ms-transform: scale(2) rotate(45deg);
  -webkit-transform: scale(2) rotate(45deg);
  transform: scale(2) rotate(45deg);
}
.circleClose.xMarks:after {
  background-color: white;
  -moz-transform: scale(2) rotate(-45deg);
  -ms-transform: scale(2) rotate(-45deg);
  -webkit-transform: scale(2) rotate(-45deg);
  transform: scale(2) rotate(-45deg);
}

.circleClose[data-animation="showShadow"] {
  -moz-box-shadow: 0px 0px 0px 0px #E91E63 inset;
  -webkit-box-shadow: 0px 0px 0px 0px #E91E63 inset;
  box-shadow: 0px 0px 0px 0px #E91E63 inset;
  -moz-transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
  -o-transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
  -webkit-transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
  transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
  border: 0px solid white;
}
.circleClose[data-animation="showShadow"]:before, .circleClose[data-animation="showShadow"]:after {
  -moz-transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
  -o-transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
  -webkit-transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
  transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
}
.circleClose[data-animation="showShadow"]:not(.showShadow):hover {
  -moz-box-shadow: 0px 0px 0px 6px #E91E63 inset;
  -webkit-box-shadow: 0px 0px 0px 6px #E91E63 inset;
  box-shadow: 0px 0px 0px 6px #E91E63 inset;
}
.circleClose[data-animation="showShadow"]:not(.showShadow):hover:before {
  -moz-transform: scale(0.7) rotate(45deg);
  -ms-transform: scale(0.7) rotate(45deg);
  -webkit-transform: scale(0.7) rotate(45deg);
  transform: scale(0.7) rotate(45deg);
  -moz-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
}
.circleClose[data-animation="showShadow"]:not(.showShadow):hover:after {
  -moz-transform: scale(0.7) rotate(-45deg);
  -ms-transform: scale(0.7) rotate(-45deg);
  -webkit-transform: scale(0.7) rotate(-45deg);
  transform: scale(0.7) rotate(-45deg);
  -moz-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
}

.circleClose.showShadow {
  -moz-transition: ease-out 300ms;
  -o-transition: ease-out 300ms;
  -webkit-transition: ease-out 300ms;
  transition: ease-out 300ms;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
}


.modal-header .close {
  margin-top: -2px;
  opacity: 1;
  outline: none;
}

.surveyContent {
  width: 100%;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0em;
}

.surveyContentInner {
  display: flex;
  flex-direction: column;
  align-content: center;
  /* padding-left: 3em; */
  /* padding-right: 3em; */
  position: absolute;
  /* top: 14%; */
  background: white;
  padding: 5em 3em;
  max-width: 80%;

}


.panel-default>.panel-heading {
  background-image: transparent !important;
  background-image: transparent !important;
  background-repeat: repeat-x;
  background:#181e2a;
  color:white
}


#listResults .one label,
#listResults .two label,
#listResults .three label,
#listResults .four label,
#listResults .five label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}

#listResults .one label::before,
#listResults .two label::before,
#listResults .three label::before,
#listResults .four label::before,
#listResults .five label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #555;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  top:3px;
}

#listResults .one label::after,
#listResults .two label::after,
#listResults .three label::after,
#listResults .four label::after,
#listResults .five label::after {
  display: inline-block;
  position: absolute;
  width: 25px;
  height: 25px;
  left: -18px;
  top: 1px;
  /* margin-left: -17px; */
  padding-left: 0px;
  padding-top: 1px;
  font-size: 14px;
  color: #008488;
  font-weight: 100;
  padding: 0px;
}

#listResults .one input[type="checkbox"],
#listResults .two input[type="checkbox"],
#listResults .three input[type="checkbox"],
#listResults .four input[type="checkbox"],
#listResults .five input[type="checkbox"]   {
  opacity: 0;
  z-index: 1;
  width: 20px;
  height: 20px;
}


#listResults .one input[type="checkbox"]:checked + label::after,
#listResults .two input[type="checkbox"]:checked + label::after,
#listResults .three input[type="checkbox"]:checked + label::after,
#listResults .four input[type="checkbox"]:checked + label::after,
#listResults .five input[type="checkbox"]:checked + label::after{
  font-family: "FontAwesome";
  content: "\f111";
}

#listResults .one label::before,
#listResults .two label::before,
#listResults .three label::before,
#listResults .four label::before,
#listResults .five label::before     {
  border-radius: 50%;
}

#listResults .one {
  margin-top: 0;
}

#listResults .one    input[type="checkbox"]:checked + label::after,
#listResults .one input[type="checkbox"]:checked + label::after,
#listResults .two    input[type="checkbox"]:checked + label::after,
#listResults .two input[type="checkbox"]:checked + label::after,
#listResults .three    input[type="checkbox"]:checked + label::after,
#listResults .three input[type="checkbox"]:checked + label::after,
#listResults .four    input[type="checkbox"]:checked + label::after,
#listResults .four input[type="checkbox"]:checked + label::after,
#listResults .five    input[type="checkbox"]:checked + label::after,
#listResults .five input[type="checkbox"]:checked + label::after

{color: #008488;}

#listResults .one input[type="checkbox"] + label::before,
#listResults .two input[type="checkbox"] + label::before,
#listResults .three input[type="checkbox"] + label::before,
#listResults .four input[type="checkbox"] + label::before,
#listResults .five input[type="checkbox"] + label::before {
  border-color: #008488;
  background: white;
}

#boxes {
  display:none;
}


input[type="checkbox"].styled:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f111";
}


.redLineTop {
  width: 100%;
  background: #CB4C45;
  height: 1px;
  padding-bottom: 0em;
  margin-bottom: 2em;
}

.redLineBottom {
  width: 100%;
  background: #CB4C45;
  height: 1px;
  padding-bottom: 0em;
  margin-top: 3em;
  margin-bottom:0em;
}

.choices {
  margin-bottom: 0%;
  margin-top: 1em;
  margin-left: 2em;
  padding-left: 2em;
}

.question {
  margin-top:1em;
  padding-left:2em;
}

.start {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display:flex;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin-top:3em;
}

.prevNext {
  padding: 7px 20px;
  background: #008488;

  background-image: linear-gradient(to top, #404040, #505050, #606060, #727272, #838383);

  color: white;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  width: 135px;
  height: 37px;

}

.activeTeal {
  background: linear-gradient(180deg, rgba(0,170,170,1) 0%, rgba(0,132,136,1) 100%);
}

.clear {
  padding: 7px 20px;
      background: none;
      color: #008488;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0px;
      width: 90px;
      height: 37px;


}

.aquaLine2 {
  margin-top:0px;
  width:90px;
  height:2px;
  background: #008488;
  opacity:0;
}

.aquaLine {
  margin-top:0px;
  width:90px;
  height:2px;
  background: #008488;
  opacity:0;
}

/* .clear:hover {
  padding: 0px;
  margin:0;
  background: white;
  color: #008488;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  width: 90px;
  height:40px;
  border-bottom:2px solid #008488;
  border-left:2px solid transparent;
  border-right:2px solid transparent;
  border-top:2px solid transparent;

} */



.fa.fa-angle-left {
  font-size: 21px;

  margin-right: 5px;
  font-weight: 600;
}

.fa.fa-angle-right {
  font-size: 21px;

  margin-left: 5px;
  font-weight: 600;
}

.landing2 {
  -webkit-box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.75);
}

.tealFA {
  color:#008488;
}
#bigWrapper {
  max-width:1000px;
}

.circle {
  position: relative;
  background: rgb(0,132,136);
  background: radial-gradient(circle, rgba(0,132,136,1) 0%, rgba(0,170,170,1) 0%, rgba(0,132,136,1) 100%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-bottom: 0px;

}
#stickySide2 {
  position: fixed;
  top: 92%;
  right: 1%;
  z-index: 9;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.scroll {
  position: absolute;
  height: 28px;
  width: 28px;
  left: 18%;
  top: 20%;
}
@media  (max-width:1024px) and (min-width:992px)  {



  #stickySide2 {
    position: fixed;
    top: 80%;

  }
  .choices {
    margin-bottom: 4em;
  }

  #bigWrapper {
    max-width:900px;
  }

  #slideOut {
    width:900px;
    top:88px;
  }

  .modal-content {
    padding-bottom:0em;
  }
  .title2 {
    font-size: 34px;

  }

  h2.smaller {

    font-size: 22px;

  }
  span.blue.card {
    color: #004568;
    font-weight: 600;
    font-size: 22px;
  }
  .blueLight {
    color: #004568;
    font-weight: 100;
    font-size: 20px;
  }

  .aqua {
    color: #00AAAA;
    text-decoration: underline;
    font-size: 21px;

  }


}

@media(max-width:991px) and (min-width:768px) {
  #bigWrapper {
    max-width:700px;
  }

  #slideOut {
    width:700px;
  }

  .title2 {
    font-size: 34px;

  }

  .aqua {
      font-size: 20px;
    }

  h2.smaller {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #004568;
    font-weight: 600;
    margin-bottom: 30px;
  }

  span.blue.card {
    color: #004568;
    font-weight: 600;
    font-size: 24px;
  }

  .blueLight {
    color: #004568;
    font-weight: 100;
    font-size: 18px;
  }

  .choices {
    padding-left:1em;

  }

  .question {
    padding-left:1em;
  }
  .modal-content {
    padding-bottom:0em;
  }


}

@media (max-width:767px) {

  .footer-wrapper {
      width: 100%;
      height: inherit;
      margin: 0 auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0rem 2rem;
  }
  .redLineBottom {
    width: 100%;
    background: #CB4C45;
    height: 1px;
    padding-bottom: 0em;
    margin-top: 0em;
    margin-bottom:1em;
  }

  #stickySide2 {
    display:none;
  }

  .surveyContentInner {
    display: flex;
    flex-direction: column;
    align-content: center;
    /* padding-left: 3em; */
    /* padding-right: 3em; */
    position: relative;
    /* top: 14%; */
    background: white;
    padding: 0em 1em;
    max-width: 100%;
    /* padding-bottom: 10em; */
  }

  .panel-body {
    padding: 15px;
    padding-top: 0px;
  }


  .cent {
    transform: none;
    background: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* position: fixed; */

    overflow-y: scroll;
    box-shadow: none;

  }

  .modal-body {
    height: auto;
    margin-top: 0em;
  }


  #main-wrapper {
    background: white;
  }

  .choices {
    margin-bottom: 10%;
    margin-top: 2em;
    margin-left: 1em;
    padding-left: 1em;
  }
  .question {
    margin-top: 0em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .title2 {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #f2f4f5;
    padding: 10px;
  }
  .wrapper {
    width: 100%;
  }

  .modal-content {
    padding-bottom:0em;
  }

  #slideOut {
    width:auto;
  }


  #boxes {
    display:flex;
  }

  .slideOutTab {
    margin-top: 0;
    position: unset;
    left: 0;
    /* background: #008488; */
    width: 100%;
    margin-left: 0;
  }

  .surveyContent {
    width: 100%;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
    padding-top: 0em;
    overflow-y: scroll;
    transform: none;
    left: 0;
    right: 0;
    padding-bottom: 6em;
  }
  .choices {
    /* margin-bottom: 15%; */
    margin-top: 1em;
    margin-left: 1em;
    padding-left: 1em;
    padding-bottom:1em;
  }
  #bigWrapper {
    max-width: none;
  }

  #slideOut {
    height:100%;
    right: 0;
    left:0;
    z-index: 1;
    top:auto;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    z-index: 1;
    opacity:0;
    padding-bottom:0em;
    padding-top:0em;
    z-index: 9999999;
    padding: .3em;
  }

  .slideOutTab.one {

    display: none;
  }

  .stickySurveyBottom {
    position: fixed;
    left: 0px;
    right: 0px;
    width: auto;
    z-index: 152;
  }

  .tealBox.survey {
    height:auto;
    width:130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1px 0px 0px 0px;
    height: 44px;
  }

  .tealBox.survey.one {
    height:auto;
    width:130px;
    margin-right:3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1px 0px 0px 0px;
    height: 44px;
  }

  .vertical3 {
    opacity: .82;
  }

  .start {
    margin-top:2em;
  }

  .toggleModal {
    font-size:24px;
  }

  p.white {
    margin: 0px 0px 2px 0px;
  }
  .panel-title>a, .panel-title>a:active {
    padding: 12px 0px 15px 5px;
    font-size: 13px;

  }
  .panel-title>a, .panel-title>a:active {

    max-height: 40px;
    min-height: 40px;
  }

  .modal-content {
    background: #c8d8df;
    height:100%;

    overflow-y: auto;
  }

  .circleClose {
    background: #008488;
    border: 3px solid #008488;
    margin:0;
    width:30px;
    height:30px;

  }
  .circleClose:before {
    background-color: white;
    height: 2px;
    margin-left: -11px;
    margin-top: -1px;
    width: 21px;
  }

  .circleClose:after {
    background-color: white;
    height: 2px;
    margin-left: -11px;
    margin-top: -1px;
    width: 21px;
  }

  h1#smaller {
    font-size: 19px !important;
    color: #004568;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0px;
  }
  .panel-title>a, .panel-title>a:active {
    color: #004568;
  }
  .panel-heading a:before {
    font-size: 22px;
    line-height: .7em;
    padding-right:5px;
    padding-left:5px;
  }

  p.small {
    font-size:15px;
  }

  p.small.mobileFont {
    font-size:13px;
  }


  ol, li {
    font-family: 'Montserrat', sans-serif;
    font-size:15px;
  }

  ul.papaya li {
    font-size:13px;
  }

  .flexing-fixed {
    position: fixed;
    right: -120%;
  }

  .fa.fa-angle-up {
    font-size:20px;
    color: white;
  }


  .fa.fa-angle-down {
    font-size:20px;
    color: white;
  }

  .rotate {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  #mobileModal {
    /* max-height: calc(100vh - 100px);
    overflow-y: auto; */
  }

  .modal-body {
    height: 100%;
    height: auto;
    padding: 0em 2em 5em 2em;
  }

  .panel-group .panel {
    margin-bottom: 15px;
    border-radius: 0px;
  }

  .clear, .prevNext {
    width:115px;
  }

  .vertical3 {
    padding-top: .5em;
    padding-bottom: .5em;
  }



}
